<a href="https://colab.research.google.com/github/Emile-Forbes/Python_Lessons/blob/Dev/Module_1_Introduction_to_Python_Programming_(Beginner).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

#Module 1: Introduction to Python Programming (Beginner)

Week 1: Python Basics
Introduction to Python

Installing Python & Jupyter Notebooks

Python IDEs: Jupyter, PyCharm, VS Code


1. **[Variables and Data Types](#1)**

2. **[Integers, Floats, Strings, Lists, Tuples, Dictionaries](#2)**

3. **[Type Casting and Type Checking](#3)**

4. **[Basic Operators](#4)**

5. **[Arithmetic, Comparison, Logical, and Assignment Operators](#5)**

6. **[Conditional Statements: if-else, elif](#6)**

7. **[Loops: for and while loops](#7)**

8. **[Iterating over lists, dictionaries, ranges](#8)**

9. **[Functions](#9)**

10. **[Defining and Calling Functions](#10)**

11. **[Arguments, Return Values, Default Arguments, Lambda Functions](#11)**

<a name="1"></a>
#1. Variables and Data Types

##1.1 Variable Definition
Variable Naming Rules:
Variable names must start with a letter (a-z, A-Z) or an underscore (_).
The rest of the variable name can include letters, digits (0-9), and underscores.

Variable names are case-sensitive (age, Age, and AGE are different).

Avoid using Python keywords (e.g., if, else, for) as variable names.

In [36]:
age = 25  # integer assignment
name = "Alice"  # string assignment
is_active = True  # boolean assignment
height = 5.9  # float assignment
salary = 4500.00
hotel ="Hilton"

##1.2 Variable Naming Rules:
Variable names must start with a letter (a-z, A-Z) or an underscore (_).

The rest of the variable name can include letters, digits (0-9), and underscores.

Variable names are case-sensitive (age, Age, and AGE are different).

Avoid using Python keywords (e.g., if, else, for) as variable names.

In [37]:
"""!NOTE:
Python keywords, such as if, else, for, while, etc., should not be used as variable names.
Invalid Variable Names (using Python keywords):
1age = 30           # Invalid: starts with a digit
@height = 5.5       # Invalid: starts with an invalid character (@)
height_1 = 5.9      # Contains a number, but starts with a letter/underscore
user_name = "John"  # Contains underscores and letters
age_1_year = 26     # Contains underscores and digits"""

'!NOTE:\nPython keywords, such as if, else, for, while, etc., should not be used as variable names.\nInvalid Variable Names (using Python keywords):\n1age = 30           # Invalid: starts with a digit\n@height = 5.5       # Invalid: starts with an invalid character (@)\nheight_1 = 5.9      # Contains a number, but starts with a letter/underscore\nuser_name = "John"  # Contains underscores and letters\nage_1_year = 26     # Contains underscores and digits'

In [38]:
age = 25
Age = 30
AGE = 35

print(age)  # Output: 25
print(Age)  # Output: 30
print(AGE)  # Output: 35

25
30
35

In [39]:
#Python keywords, such as if, else, for, while, etc., should not be used as variable names.
#Invalid Variable Names (using Python keywords):
"""NOTE!
if = 10         # Invalid: 'if' is a reserved keyword
for = "loop"    # Invalid: 'for' is a reserved keyword
else = False    # Invalid: 'else' is a reserved keyword"""

'NOTE!\nif = 10         # Invalid: \'if\' is a reserved keyword\nfor = "loop"    # Invalid: \'for\' is a reserved keyword\nelse = False    # Invalid: \'else\' is a reserved keyword'

In [40]:
#Valid Variable Names (Avoiding Keywords):
if_var = 10         # Valid: not using the keyword 'if' as variable name
for_loop = "loop"   # Valid: using 'for' as part of a name is fine
else_condition = False  # Valid: using 'else' as part of a name is fine

In [41]:
import pandas as pd

In [42]:
data=({'x':[1,23,4,4,4,5],
                 'name':["James","Emile","Paula","Emile","Paula","Paula"]})
df=pd.DataFrame(data)

##1.3 Data Types in python
Learn about the primitive data types in Python.

Strings
Integers
Floats
Booleans

In [43]:
#1- Numerical data types
age = 25 #integer aka int
salary = -4500 # negative int

print(type(age))
print(type(salary))

# 2- Floats
height = 5.9  # float type
temperature = 36.6  # float type

print(type(height))
print(type(temperature))

# 3- complex Numbers

complex_num = 3 + 4j
print(type(complex_num))  # Output: <class 'complex'>

#4 Sequence data types (string , str)
name = "Alice"
message = 'Hello, World!'
greeting = '''Good Morning!'''

print(type(name))
print(type(message))
print(type(greeting))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'str'>
<class 'str'>

In [44]:
#Type error, checking and conversion

""" len(12345) gives an error because you can only give len function string
This gives you a type error"""
len("12345")

#Type conversion
"""You can convert data into different data types using special functions. e.g.
float(), int(),str()"""

'You can convert data into different data types using special functions. e.g.\nfloat(), int(),str()'

In [45]:
"""# Use Case
name = input("Enter your name: ")
age = int(input("Enter your age: "))    # convert from string to int
print("In 5 years, " + name + " will be " + str(age + 5))"""

'# Use Case\nname = input("Enter your name: ")\nage = int(input("Enter your age: "))    # convert from string to int\nprint("In 5 years, " + name + " will be " + str(age + 5))'

<a name="2"></a>
#2 Integers, Floats, Strings, Lists, Tuples, Dictionaries

## 2.1  Integers in Python
What is an Integer?
An integer is a whole number, which can be positive, negative, or zero. It does not have any decimal points.

Creating Integers
You can create an integer by directly assigning a whole number to a variable.

In [46]:
#1 Examples
x = 10  # positive integer
y = -5  # negative integer
z = 0   # zero


#2 Integer Operations
#Python provides a variety of arithmetic operators for integers:
a = 5
b = 3

#3 Arithmetic operations
sum_result = a + b  # Addition
diff_result = a - b  # Subtraction
prod_result = a * b  # Multiplication
quot_result = a / b  # Division (returns float)
int_quot_result = a // b  # Floor division (returns integer)
mod_result = a % b  # Modulus (remainder)
pow_result = a ** b  # Exponentiation

print(sum_result, diff_result, prod_result, quot_result, int_quot_result, mod_result, pow_result)

8 2 15 1.6666666666666667 1 2 125

In [47]:
## Use cases
"""Pemdas order of operations"""
print(3 * 3 + 3 / 3 - 3)

#https://appbrewery.github.io/python-day2-demo/

7.0

In [48]:
"""** Task: 1
We're going to build a tip calculator. If the bill was $150.00, split between 5 people, with 12% tip.
Each person should pay:(150.00 / 5) * 1.12 = 33.6, After formatting the result to 2 decimal places = 33.60
Demo https://appbrewery.github.io/python-day2-demo/

Very Optional Reading: Floating Point Arithmetic
https://docs.python.org/3/tutorial/floatingpoint.html"""

"** Task: 1\nWe're going to build a tip calculator. If the bill was $150.00, split between 5 people, with 12% tip.\nEach person should pay:(150.00 / 5) * 1.12 = 33.6, After formatting the result to 2 decimal places = 33.60\nDemo https://appbrewery.github.io/python-day2-demo/\n\nVery Optional Reading: Floating Point Arithmetic\nhttps://docs.python.org/3/tutorial/floatingpoint.html"

In [49]:
"""print("Welcome to the tip calculator!")
bill = float(input("What was the total bill? $"))
tip = int(input("What percentage tip would you like to give? 10 12 15 "))
people = int(input("How many people to split the bill? "))
tip_as_percent = tip / 100
total_tip_amount = bill * tip_as_percent
total_bill = bill + total_tip_amount
bill_per_person = total_bill / people
final_amount = round(bill_per_person, 2)
print(f"Each person should pay: ${final_amount}")"""

'print("Welcome to the tip calculator!")\nbill = float(input("What was the total bill? $"))\ntip = int(input("What percentage tip would you like to give? 10 12 15 "))\npeople = int(input("How many people to split the bill? "))\ntip_as_percent = tip / 100\ntotal_tip_amount = bill * tip_as_percent\ntotal_bill = bill + total_tip_amount\nbill_per_person = total_bill / people\nfinal_amount = round(bill_per_person, 2)\nprint(f"Each person should pay: ${final_amount}")'

##2.2 Floats in Python
What is a Float?
A float is a number that contains a decimal point. Floats can represent real numbers, and they are typically used when more precision is needed than integers can provide.

Creating Floats
You can create a float by assigning a number with a decimal point or using scientific notation.

In [50]:
# 1 -creating a float
x = 5.75  # positive float
y = -3.14  # negative float
z = 0.0    # float with zero value

In [51]:
# 2 -Float Operations
"""Floats also support all basic arithmetic operations,
 like integers. However, some operations may return
 floating-point results even when the operands are integers."""
a = 10.5
b = 3.0

sum_result = a + b  # Addition
diff_result = a - b  # Subtraction
prod_result = a * b  # Multiplication
quot_result = a / b  # Division
pow_result = a ** b  # Exponentiation

print(sum_result, diff_result, prod_result, quot_result, pow_result)

13.5 7.5 31.5 3.5 1157.625

##2.3 Strings
A string is a sequence of characters enclosed in quotes. Python allows both single (') and double (") quotes for defining strings.

In [52]:
#1 -Creating a string

s1 = "Hello, World!"  # String with double quotes
s2 = 'Python Programming'  # String with single quotes
s3 = """This is
a multi-line
string."""  # Multi-line string

In [53]:
#2 Strings are Arrays
a = "Hello, World!"
print(a[1])

e

In [54]:
#3 Looping through strings
for x in "Hello World!":
  print(x)

H
e
l
l
o

W
o
r
l
d
!

In [55]:
#print length
a ="Hello World"
print(len(a))

11

In [56]:
#4 Slicing String
a = "Hello World!"
print(a[1])
print(a[2:5])
print(a[:5])
print(a[-1])

e
llo
Hello
!

In [57]:
#5 Modifying Strings
a = "Hello a World!"
print(a.upper()) #converts str into uppercase
print(a.lower()) #converts str to lowercase
print(a.strip()) #removes blank space
print(a.strip('He')) #removes He
print(a.replace("H", "J")) #replaces letters
print(a.split(","))

b = "apple,banana,grape"
print(b.split(","))

HELLO A WORLD!
hello a world!
Hello a World!
llo a World!
Jello a World!
['Hello a World!']
['apple', 'banana', 'grape']

In [58]:
#6 Merge string
a = "Hello"
b = "World"
c = a + b
print(c)

a = "Hello"
b = "World"
d = a + " " + b
print(d)

HelloWorld
Hello World

In [59]:
# 7Python - Format - Strings
"""This will have a syntax error
because we are combining string and int

age = 38
txt = "My name is John, I am " + age
print(txt)"""

'This will have a syntax error\nbecause we are combining string and int\n\nage = 38\ntxt = "My name is John, I am " + age\nprint(txt)'

In [60]:
"""Solutin is using F-string
"""
salary = 3600
txt = f"My name is John, I earn {salary} per week"
print(txt)

#Maintaining a certain number of decimal places
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

My name is John, I earn 3600 per week
The price is 59.00 dollars

In [61]:
# 8 escape string
print('It\'s sunny')
print("It's sunny")
"""print('It's sunny') will fail"""
print('C:\\\\Users\\\\') #code keeps C:\\Users\\
print('Hello\nWorld') # new line
print('Hello\tWorld') #tab
print('Hello\bWorld') #backspace
print('Hello\rWorld') #carriage return
print('Hello\fWorld') #form feed
print('Hello\vWorld') #vertical tab

It's sunny
It's sunny
C:\\Users\\
Hello
World
Hello	World
HelloWorld
World
HelloWorld
HelloWorld

##2.4 List
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

In [62]:
#1 Creating this a list
fruits =["Apples", "Oranges", "Cherry"]
print(fruits)

#2 Allow duplicates
my_list = [1, 2, 2, 3, 4, 4, 5]
print(my_list)

#3 remove duplicates


4# remove duplicates using loop
my_list = [1, 2, 3, 4,4, 6, 2, 5]
unique_list = []  # build a new list from scratch. It starts with blank
for x in my_list:
  if x not in unique_list:
    unique_list.append(x)
print(unique_list)

fruits =[1,2,1,2,1,23,12]
distinct_fruits =[]
for x in fruits:
  if x not in distinct_fruits:
    unique_list.append(x)
print(distinct_fruits)

#5 access list
thislist = ["apple", "banana", "cherry", "avocado", "berries", "Oranges"]
print(thislist[1]) # second item on list
print(thislist[-1]) # last item on list
print(thislist[2:5]) # third to fourth item
print(thislist[:4])
print(thislist[-4:-1])

#6 change item on list
thislist = ["apple", "banana", "cherry", "avocado", "berries", "Oranges"]
thislist[1] = "Mangoes"
print(thislist)

#7 change range of items
fruits = ["apple", "banana", "cherry", "avocado", "berries", "Oranges"]
fruits[1:3] = ["blackcurrant", "watermelon"]
print(fruits)

#7 add items to list
fruits = ["apple", "banana", "cherry", "avocado", "berries", "Oranges"]
fruits.append("orange")
print(fruits)

#8 insert specifies wherer to make the addition
"""To insert a list item at a specified index, use the insert() method."""
fruits = ["apple", "banana", "cherry", "avocado", "berries", "Oranges"]
fruits.insert(1, "orange") # second on the list
print(fruits)

#9 Loop Through the Index Numbers -for loop
thislist = ["apple", "banana", "cherry", "avocado", "berries", "Oranges"]
for i in range(len(thislist)):
  print(thislist[i])

#10 Using a While Loop
thislist = ["apple", "banana", "cherry", "avocado", "berries", "Oranges"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

#11 List Comprehension
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

#12 Sort List Alphanumerically
list = ["orange", "mango", "kiwi", "pineapple", "banana"]
list.sort()
print(list)

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

#13 Use the list() method
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

#14 join two list
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

#15 append list2 into list
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

  print(list1)

#16 Use the extend() method
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)

print(list1)

['Apples', 'Oranges', 'Cherry']
[1, 2, 2, 3, 4, 4, 5]
[1, 2, 3, 4, 6, 5]
[]
banana
Oranges
['cherry', 'avocado', 'berries']
['apple', 'banana', 'cherry', 'avocado']
['cherry', 'avocado', 'berries']
['apple', 'Mangoes', 'cherry', 'avocado', 'berries', 'Oranges']
['apple', 'blackcurrant', 'watermelon', 'avocado', 'berries', 'Oranges']
['apple', 'banana', 'cherry', 'avocado', 'berries', 'Oranges', 'orange']
['apple', 'orange', 'banana', 'cherry', 'avocado', 'berries', 'Oranges']
apple
banana
cherry
avocado
berries
Oranges
apple
banana
cherry
avocado
berries
Oranges
['apple', 'banana', 'mango']
['banana', 'kiwi', 'mango', 'orange', 'pineapple']
['pineapple', 'orange', 'mango', 'kiwi', 'banana']
['apple', 'banana', 'cherry']
['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1]
['a', 'b', 'c', 1, 2]
['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]

In [63]:
# difference btn two list

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7]

# Elements in list1 but not in list2
# Use the built-in list function by its original name to avoid the error
# list was overwritten in previous code, now using builtins.list to restore
import builtins
diff1 = builtins.list(set(list1) - set(list2))
# Elements in list2 but not in list1
diff2 = builtins.list(set(list2) - set(list1))

print("Difference (list1 - list2):", diff1)
print("Difference (list2 - list1):", diff2)

Difference (list1 - list2): [1, 2, 3]
Difference (list2 - list1): [6, 7]

##2.5 Python Tuples
Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable. Note that tuples use ()

In [64]:
#1 Tuples allow duplicate
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

#2 Tuple Length
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

#3 print list
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

('apple', 'banana', 'cherry', 'apple', 'cherry')
3
banana

In [65]:
#4 Negative Indexing
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

#5 Range of Indexes
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

cherry
('cherry', 'orange', 'kiwi')

In [66]:
""" Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.
But there are some workarounds. You can convert the tuple into a list, change the list, and convert the list back into a tuple.
"""

#3 Adding new items need to use builtins as list objects are not callable
"""thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)"""

#4 Remove items
"""thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(y)"""

#5 Convert Tuple to list then make a change
"""x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)"""

import builtins
y = builtins.list(thistuple)  # Use builtins.list to avoid the error
y.append("orange")
thistuple = tuple(y)
print(thistuple)

print(x)

('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'orange')
3

In [67]:
#6 looping in with tuples -based on the position of the items
thistuple = ("apple", "banana", "cherry", "orange", "mango")
for x in thistuple:
  print(x)

thistuple = ("apple", "banana", "cherry", "orange", "mango")
for i in range(len(thistuple)):
  print(thistuple[i])


Thistuple = ("apple1", "banana2", "cherry", "orange", "mango")
for i in Thistuple:
  print(i)

apple
banana
cherry
orange
mango
apple
banana
cherry
orange
mango
apple1
banana2
cherry
orange
mango

##2.6 Python Sets
A set in Python is an unordered collection of unique items. This means:

It cannot contain duplicate elements.

The order of elements in a set is not preserved (i.e., the elements have no specific order).

Sets are used when you want to store a collection of items where duplicates are not allowed, and the order doesn't matter

In [68]:
my_set = {1, 2, 3, 4}
print(my_set)  # Output: {1, 2, 3, 4}

# Duplicates are automatically removed
my_set_with_duplicates = {1, 2, 3, 3, 4}
print(my_set_with_duplicates)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}
{1, 2, 3, 4}

In [69]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Union
print(set1 | set2)  # Output: {1, 2, 3, 4, 5, 6}

# Intersection
print(set1 & set2)  # Output: {3, 4}

# Difference
print(set1 - set2)  # Output: {1, 2}

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}

In [70]:
#playing with list and sets
# Define two lists
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# Convert lists to sets
set1 = set(list1)
set2 = set(list2)

# Apply Union (all unique elements from both sets)
union_result = set1 | set2  # or set1.union(set2)
print("Union:", union_result)

# Apply Intersection (common elements between both sets)
intersection_result = set1 & set2  # or set1.intersection(set2)
print("Intersection:", intersection_result)

# Apply Difference (elements in set1 but not in set2)
difference_result = set1 - set2  # or set1.difference(set2)
print("Difference (set1 - set2):", difference_result)

# Apply Symmetric Difference (elements in either set, but not in both)
symmetric_difference_result = set1 ^ set2  # or set1.symmetric_difference(set2)
print("Symmetric Difference:", symmetric_difference_result)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference (set1 - set2): {1, 2, 3}
Symmetric Difference: {1, 2, 3, 6, 7, 8}

##2.7 Python Dictionaries
Dictionaries are used to store data values in key:value pairs.
A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [71]:
#1 Creating a dictionary
my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York"
}
print(my_dict)

"""Dictionaries are ordered, meaning that the items have a defined order, and that order will not change.
Unordered means that the items does not have a defined order, you cannot refer to an item by using an index.
These values can be of any data type: string, int, boolean, and list data types.
"""

{'name': 'John', 'age': 30, 'city': 'New York'}

'Dictionaries are ordered, meaning that the items have a defined order, and that order will not change.\nUnordered means that the items does not have a defined order, you cannot refer to an item by using an index.\nThese values can be of any data type: string, int, boolean, and list data types.\n'

In [72]:
#2 Dictionary does not allow duplicates

my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York",
    "name": "Jane"  # Duplicate key, will be overwritten
}
print(my_dict)

"""Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.
   the values will only take the last value
"""
# test cases

{'name': 'Jane', 'age': 30, 'city': 'New York'}

'Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.\n   the values will only take the last value\n'

In [73]:
# 3 access dictionary
my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York"
}
print(my_dict["name"])  # Output: John

#using get()
x = my_dict.get("name")
print(x)

#4 change value
my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York"
}
my_dict["age"] = 35
print(my_dict)


"""The keys() method will return a list of all the keys in the dictionary.
The values() method will return a list of all the values in the dictionary.
The items() method will return each item in a dictionary, as tuples in a list.
"""
#keys: will retrn a lost of all the keys in the dictionary
my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York"
}
print(my_dict.keys())

#values
print(my_dict.values())

#items
print(my_dict.items())

John
John
{'name': 'John', 'age': 35, 'city': 'New York'}
dict_keys(['name', 'age', 'city'])
dict_values(['John', 30, 'New York'])
dict_items([('name', 'John'), ('age', 30), ('city', 'New York')])

In [74]:
#4 Copy dictionary & Loops

my_dict ={"Name":"Jame", "Age":30, "City":"Yaounde"}
new_dict = my_dict.copy()
print(new_dict)

for x in my_dict:
  print(x)

#if I just wanna print values
for z in my_dict.values():
  print(z)

for z in my_dict.keys():
  print(z)
#or items
for y in my_dict.items():
  print(y)

{'Name': 'Jame', 'Age': 30, 'City': 'Yaounde'}
Name
Age
City
Jame
30
Yaounde
Name
Age
City
('Name', 'Jame')
('Age', 30)
('City', 'Yaounde')

In [75]:
#Nested Dictionaries
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
print(myfamily["child2"]["name"])

Tobias

<a name="3"></a>
#3. Type Casting and Type Checking

Type casting is the process of converting data in python from one data type to another

In [76]:
#1 implicit tpe casting

z =10  #int
x = 2.5 #float

result = z + x
print(result)
print(type(result)) # class is float

12.5
<class 'float'>

In [77]:
#2 explicit
a = "123"
b = int(a)    # Convert string to integer
print(b + 5)  # 128

x = 9
y = str(x)    # Convert integer to string
print(y + "1")  # "91"

128
91

<a name="4"></a>
#4. Basic Operations

In [78]:
#1 Assignment
x = 5
x += 2  # Same as x = x + 2
print(x)  # 7

7

In [79]:
#2  Logical Operators -conditional statements

x = 5
print(x > 3 and x < 10)  # True
print(not(x > 3))        # False

#3List Operations
fruits = ["apple", "banana"]
fruits.append("cherry")   # Add item
print(fruits[1])          # Access item: banana

True
False
banana

<a name="5"></a>

##1. Arithmetic Operators
#5. Arithmetic, Comparison, Logical, and Assignment Operators
| Operator | Description    | Example  |
| -------- | -------------- | -------- |
| `+`      | Addition       | `x + y`  |
| `-`      | Subtraction    | `x - y`  |
| `*`      | Multiplication | `x * y`  |
| `/`      | Division       | `x / y`  |
| `//`     | Floor Division | `x // y` |
| `%`      | Modulus        | `x % y`  |
| `**`     | Exponentiation | `x ** y` |

In [80]:
x = 10
y = 3

print(x + y)  # 13
print(x - y)  # 7
print(x * y)  # 30
print(x / y)  # 3.333...
print(x // y) # 3
print(x % y)  # 1
print(x ** y) # 1000

13
7
30
3.3333333333333335
3
1
1000

## 2. Comparison Operators
| Operator | Description         | Example  |
| -------- | ------------------- | -------- |
| `==`     | Equal to            | `x == y` |
| `!=`     | Not equal to        | `x != y` |
| `>`      | Greater than        | `x > y`  |
| `<`      | Less than           | `x < y`  |
| `>=`     | Greater or equal to | `x >= y` |
| `<=`     | Less or equal to    | `x <= y` |

In [81]:
x = 10
y = 5

print(x == y)  # False
print(x != y)  # True
print(x > y)   # True
print(x < y)   # False
print(x >= y)  # True
print(x <= y)  # False

False
True
True
False
True
False

##3. Logical Operators
Used to combine conditional statements.

| Operator | Description                          | Example            |
| -------- | ------------------------------------ | ------------------ |
| `and`    | Returns True if both are True        | `x > 5 and y < 10` |
| `or`     | Returns True if at least one is True | `x > 5 or y > 10`  |
| `not`    | Reverses the result                  | `not(x > 5)`       |

In [82]:
x = 10
y = 4

print(x > 5 and y < 5)   # True
print(x < 5 or y < 5)    # True
print(not(x > 5))        # False

True
True
False

## 4. Assignment Operators
Used to assign values to variables, with shorthand for operations.

| Operator | Example   | Equivalent to |
| -------- | --------- | ------------- |
| `=`      | `x = 5`   | Assign 5 to x |
| `+=`     | `x += 3`  | `x = x + 3`   |
| `-=`     | `x -= 3`  | `x = x - 3`   |
| `*=`     | `x *= 3`  | `x = x * 3`   |
| `/=`     | `x /= 3`  | `x = x / 3`   |
| `//=`    | `x //= 3` | `x = x // 3`  |
| `%=`     | `x %= 3`  | `x = x % 3`   |
| `**=`    | `x **= 3` | `x = x ** 3`  |

In [83]:
x = 5

x += 2
print(x)  # 7

x *= 3
print(x)  # 21

x -= 5
print(x)  # 16

x /= 4
print(x)  # 4.0

7
21
16
4.0

## 5 Summary

| Category   | Key Operators                    | Return Type      |
| ---------- | -------------------------------- | ---------------- |
| Arithmetic | `+`, `-`, `*`, `/`, `%`, `**`    | Numeric          |
| Comparison | `==`, `!=`, `>`, `<`, `>=`, `<=` | Boolean          |
| Logical    | `and`, `or`, `not`               | Boolean          |
| Assignment | `=`, `+=`, `-=`, etc.            | Variable updated |

<a name="6"></a>
#6. Conditional Statements